html, body{
    height: 100%;
    margin: 0px;
}

.full-page{
    height: 100%;
}

body{
    transition: margin 0.5s linear;
    -webkit-transition: margin 0.5s;
    -moz-transition: margin 0.5s;
    -ms-transition: margin 0.5s;
    -o-transition: margin 0.5s;
    transition: font 200s;
    -webkit-transition: font 200s;  
    -moz-transition: font 0.5s;  
    -ms-transition: font 0.5s;  
    -o-transition: font 0.5s;    
    /* padding-right: 2%; */
    font-family:Questrial;
    color: darkslategray;
    user-select: none;
    overflow: hidden;
}

#sidebar{
    padding: 0;
    height: 100%;
    background-color:  rgba(255, 217, 0, 0.116);
    border-right: 1px solid rgba(5, 5, 5, 0.192);
}

#usr-name{
    padding-left: 5px;
    padding-top: 5px;
}

.task-group-icon{
    font-size: 20px;
    margin-right: 10px;
}

.nav-item{
    margin: 10px 0px;
    cursor: pointer;
    padding-left: 10px;
}

.task-group:hover{
    font-weight: 600;
}

.task-group{
    font-size: 16px;
}

#add-task-group{
    border: none;
}

button.navbar-toggler{
    border: none;
    outline: none;
}

#brand-logo{
    float: left;
    width: 32px;
    margin-right: 5px;
}


#task-group-list{
    margin-top: 25%;
}

#main{
    padding-left: 2%;
}

#list-header{
    font-size: 80px;
    margin-top: 20px;
}

.form-control{
    border-color: rgba(47, 79, 79, 0.39);
}

.btn-outline-dark{
    border-color: rgba(47, 79, 79, 0.39);
}

.task{
    transition: background-color 0.2s linear;
    transition: color 0.2s linear;
    font-size: 19px;
    z-index: 2;
}

.completed-task{
    text-decoration: line-through;
    background-color: rgba(155, 243, 159, 0.2); 
    color: rgba(0, 0, 0, 0.39);
}

.complete-task-btn{
    cursor: pointer;
    font-size: 23px; 
    padding-right:20px;
}

.task-action-btn{
    font-size: 22px;
    cursor: pointer;
}

.delete-task-btn{   
    float: right;
}

.copy-task-btn{
    float: right;
    padding-left:20px; 
}

.copy-task-btn:hover{
    color: rgba(68, 136, 190, 0.727);
}

.delete-task-btn:hover{
    color: rgba(230, 24, 24, 0.781);
}

#complete-msg{
    font-size: 20px;
    text-align: center;
    margin-top: 3%;
}

@media(max-width: 989px){
    body{
        /* margin-right: 2%; */
        /* margin-left: 2%; */
    }

    nav{
        margin: 0;
        padding: 0;
    }

    .full-page{
        height: auto;
    }

    #sidebar{
        border-right: none;
    }

    #list-header{
        margin-top: 10px;
    }
}

@media(max-width: 450px){
    body{
        margin-left: 4%;
        padding-right: 0;
        margin-right: 2%;   
    }
    #list-header{
        margin-top: 7%;
        font-size: 72px;
    }

    #add-task{
        margin-top: 5%;
    }

    .task{
        font-size: 16px;
    }

    .delete-task-btn{
        font-size: 20px;
    }

    .copy-task-btn{
        font-size:  20px;
    }

    #complete-msg{
        margin-top: 6%;
    }
}

@media(max-width: 350px){
    body{
        padding-right: 0;
        margin-right: 0;
        margin-left: 4%;;
    }
    #list-header{
        font-size: 45px;
    }
    .task{
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .delete-task-btn{
        font-size: 16px;
    }

    .complete-task-btn{
        font-size: 16px; 
        padding-right:10px;
    }
    .copy-task-btn{
        font-size: 16px;
        cursor: pointer;
        float: right;
        padding-left:15px; 
    }
    #complete-msg{
        margin-top: 7%;
    }
}